<a href="https://colab.research.google.com/github/msdevanms/pyspark_training/blob/main/ETL_training_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Initial Setup - Spark Installation

In [122]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [123]:
# Create SparkSession and sparkcontext
from pyspark.sql import SparkSession
spark = SparkSession.builder\
                    .master("local")\
                    .appName('Firstprogram')\
                    .getOrCreate()
sc=spark.sparkContext

# Load CSV data

In [69]:
mydataframe = spark.read.format("csv").option("header","true").load("/content/sample_data/data_descriptive.csv")

In [70]:
mydataframe.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|
|  3|    Alvera|  Di Boldi|Female|           NULL|                NULL|$57576.52|39.9947462|116.3397725|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      NULL| 37.6489954|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|
|  7|     Masha|    Divers|Female|         Dachun|                NULL|$25090.87| 24.879416| 118.930111|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
only showing top 20 rows

# Inspect Data

In [76]:
mydataframe.count()

1001

In [72]:
mydataframe.printSchema()

root
 |-- id: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- City: string (nullable = true)
 |-- JobTitle: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)

In [73]:
mydataframe.describe().show()

+-------+-----------------+----------+---------+------+-------------------+-------------------+---------+------------------+-----------------+
|summary|               id|first_name|last_name|gender|               City|           JobTitle|   Salary|          Latitude|        Longitude|
+-------+-----------------+----------+---------+------+-------------------+-------------------+---------+------------------+-----------------+
|  count|             1000|      1000|     1000|  1000|                999|                998|     1000|               999|             1000|
|   mean|            500.5|      NULL|     NULL|  NULL|               NULL|               NULL|     NULL|25.431517242342352|43.33756461450002|
| stddev|288.8194360957494|      NULL|     NULL|  NULL|               NULL|               NULL|     NULL|24.579082548690913|69.42064539970089|
|    min|                1|   Abagail|    Abbay|Female|             Abéché|Account Coordinator|$10101.92|        -0.6256517|       -0.4889547|
|    max|              999|    Zulema| de Marco|  Male|‘Aşīrah al Qiblīyah|   Web Developer IV|$99948.28|         9.9533828|       99.9590822|
+-------+-----------------+----------+---------+------+-------------------+-------------------+---------+------------------+-----------------+

# Setting Schema

In [83]:
# Setting schema and importing:
from pyspark.sql.types import *
myschema = StructType([
      StructField('id', IntegerType()),
      StructField('first_name', StringType()),
      StructField('last_name', StringType()),
      StructField('gender', StringType()),
      StructField('City', StringType()),
      StructField('JobTitle', StringType()),
      StructField('Salary', StringType()),
      StructField('Latitude', StringType()),
      StructField('Longitude', FloatType())
])
df = spark.read.csv("/content/sample_data/data_descriptive.csv", header=True, schema = myschema)
df.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude| Longitude|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.496717|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572| 103.52182|
|  3|    Alvera|  Di Boldi|Female|           NULL|                NULL|$57576.52|39.9947462|116.339775|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.130016|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      NULL| 37.648994|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145|-6.1644998|
|  7|     Masha|    Divers|Female|         Dachun|                NULL|$25090.87| 24.879416|118.930115|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186| 0.7423124|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.65711|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793|-74.416016|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793|-74.416016|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.93161|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.377174|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.576675|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.491532|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.897802|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.327864|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.709834|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567| 113.46868|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
only showing top 20 rows

In [84]:
df.describe().show()

+-------+------------------+----------+---------+------+-------------------+-------------------+---------+------------------+-----------------+
|summary|                id|first_name|last_name|gender|               City|           JobTitle|   Salary|          Latitude|        Longitude|
+-------+------------------+----------+---------+------+-------------------+-------------------+---------+------------------+-----------------+
|  count|              1001|      1001|     1001|  1001|               1000|                999|     1001|              1000|             1001|
|   mean|   500.00999000999|      NULL|     NULL|  NULL|               NULL|               NULL|     NULL|25.410358518099997|43.21992865958057|
| stddev|289.09098896385507|      NULL|     NULL|  NULL|               NULL|               NULL|     NULL|24.575887664781412|69.48567356538793|
|    min|                 1|   Abagail|    Abbay|Female|             Abéché|Account Coordinator|$10101.92|        -0.6256517|       -123.04196|
|    max|              1000|    Zulema| de Marco|  Male|‘Aşīrah al Qiblīyah|   Web Developer IV|$99948.28|         9.9533828|        175.28227|
+-------+------------------+----------+---------+------+-------------------+-------------------+---------+------------------+-----------------+

# Data Cleansing - Null and Duplicate removal

In [86]:
no_duplicate_df = df.dropDuplicates()

In [87]:
no_duplicate_df.count()

1000

In [93]:
no_duplicate_df.sort(no_duplicate_df.id).show()

+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude| Longitude|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.496717|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572| 103.52182|
|  3|    Alvera|  Di Boldi|Female|           NULL|                NULL|$57576.52|39.9947462|116.339775|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.130016|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      NULL| 37.648994|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145|-6.1644998|
|  7|     Masha|    Divers|Female|         Dachun|                NULL|$25090.87| 24.879416|118.930115|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186| 0.7423124|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.65711|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793|-74.416016|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.93161|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.377174|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.576675|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.491532|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.897802|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.327864|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.709834|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567| 113.46868|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049|-8.3625145|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
only showing top 20 rows

In [95]:
# Replace null for 'Unknown':
from pyspark.sql.functions import *
no_null_df = no_duplicate_df.withColumn("clean_city",when(no_duplicate_df.City.isNull(),'Unknown').otherwise(no_duplicate_df.City))

In [96]:
no_null_df.show(truncate=False)

+---+----------+----------+------+------------------+-----------------------------+---------+-----------+----------+------------------+
|id |first_name|last_name |gender|City              |JobTitle                     |Salary   |Latitude   |Longitude |clean_city        |
+---+----------+----------+------+------------------+-----------------------------+---------+-----------+----------+------------------+
|159|Georgianne|Henriques |Female|Jinsha            |Environmental Specialist     |$63954.52|30.679359  |104.011665|Jinsha            |
|215|Angel     |Robjant   |Male  |Bambous Virieux   |Occupational Therapist       |$96856.73|-20.3438619|57.763683 |Bambous Virieux   |
|377|Noach     |Golling   |Male  |Yuanqiao          |Executive Secretary          |$72247.30|32.5639    |120.39677 |Yuanqiao          |
|525|Terry     |Layton    |Female|San Pedro Masahuat|Dental Hygienist             |$10808.16|13.5432995 |-89.03824 |San Pedro Masahuat|
|833|Damara    |Beaford   |Female|Połomia           |Environmental Specialist     |$10616.44|49.9890993 |18.569973 |Połomia           |
|172|Marita    |Whyborn   |Female|Sofo-Birnin-Gwari |Biostatistician II           |$45680.97|11.01088   |6.798413  |Sofo-Birnin-Gwari |
|485|Carola    |Himsworth |Female|Krasnomayskiy     |Senior Quality Engineer      |$54941.78|57.6194    |34.40988  |Krasnomayskiy     |
|562|Dulci     |L'Amie    |Female|Nan’ao            |Mechanical Systems Engineer  |$95218.39|23.421724  |117.02338 |Nan’ao            |
|88 |Carole    |Gavan     |Female|Rajapeni          |Account Coordinator          |$27026.70|-7.2841    |108.2148  |Rajapeni          |
|161|Carlynn   |Freiburger|Female|Kavýli            |Programmer Analyst III       |$63792.21|41.5622714 |26.51264  |Kavýli            |
|371|Petronia  |Trowill   |Female|Banjar Yehsatang  |Health Coach II              |$28327.81|-8.3932    |114.8028  |Banjar Yehsatang  |
|418|Nils      |Perago    |Male  |Núi Sập           |Occupational Therapist       |$36160.91|10.2581682 |105.27215 |Núi Sập           |
|641|Gannon    |Heinreich |Male  |Gualmatán         |Analog Circuit Design manager|$88032.41|0.919645   |-77.56714 |Gualmatán         |
|825|Abbye     |MacAndreis|Female|Chandmanĭ         |Accounting Assistant I       |$87792.30|45.3369621 |97.96857  |Chandmanĭ         |
|835|Inness    |Double    |Male  |Kultayevo         |Biostatistician III          |$25707.71|57.8948    |55.9378   |Kultayevo         |
|319|Clementius|McGinn    |Male  |Tarauacá          |Associate Professor          |$15800.06|-8.2132323 |-71.38244 |Tarauacá          |
|494|Danni     |Bonellie  |Female|Brokopondo        |Legal Assistant              |$48210.95|4.7524091  |-55.02729 |Brokopondo        |
|950|Tremayne  |Thickett  |Male  |Nalinggou         |Software Engineer III        |$65765.49|40.99849   |111.1617  |Nalinggou         |
|63 |Antone    |Erie      |Male  |Bilohirs’k        |Help Desk Operator           |$51271.99|45.0577954 |34.605095 |Bilohirs’k        |
|139|Laetitia  |Gasking   |Female|Cuogang           |Registered Nurse             |$10908.22|32.8279425 |13.381834 |Cuogang           |
+---+----------+----------+------+------------------+-----------------------------+---------+-----------+----------+------------------+
only showing top 20 rows

In [97]:
no_null_df2 = no_null_df.filter(no_null_df.JobTitle.isNotNull())

In [100]:
no_null_df3 = no_null_df.filter(no_null_df.JobTitle.isNull())

In [101]:
no_null_df3.show()

+---+----------+---------+------+------+--------+---------+----------+----------+----------+
| id|first_name|last_name|gender|  City|JobTitle|   Salary|  Latitude| Longitude|clean_city|
+---+----------+---------+------+------+--------+---------+----------+----------+----------+
|  7|     Masha|   Divers|Female|Dachun|    NULL|$25090.87| 24.879416|118.930115|    Dachun|
|  3|    Alvera| Di Boldi|Female|  NULL|    NULL|$57576.52|39.9947462|116.339775|   Unknown|
+---+----------+---------+------+------+--------+---------+----------+----------+----------+

In [102]:
no_null_df2.count()

998

In [98]:
no_null_df2.show(truncate=False)

+---+----------+----------+------+------------------+-----------------------------+---------+-----------+----------+------------------+
|id |first_name|last_name |gender|City              |JobTitle                     |Salary   |Latitude   |Longitude |clean_city        |
+---+----------+----------+------+------------------+-----------------------------+---------+-----------+----------+------------------+
|159|Georgianne|Henriques |Female|Jinsha            |Environmental Specialist     |$63954.52|30.679359  |104.011665|Jinsha            |
|215|Angel     |Robjant   |Male  |Bambous Virieux   |Occupational Therapist       |$96856.73|-20.3438619|57.763683 |Bambous Virieux   |
|377|Noach     |Golling   |Male  |Yuanqiao          |Executive Secretary          |$72247.30|32.5639    |120.39677 |Yuanqiao          |
|525|Terry     |Layton    |Female|San Pedro Masahuat|Dental Hygienist             |$10808.16|13.5432995 |-89.03824 |San Pedro Masahuat|
|833|Damara    |Beaford   |Female|Połomia           |Environmental Specialist     |$10616.44|49.9890993 |18.569973 |Połomia           |
|172|Marita    |Whyborn   |Female|Sofo-Birnin-Gwari |Biostatistician II           |$45680.97|11.01088   |6.798413  |Sofo-Birnin-Gwari |
|485|Carola    |Himsworth |Female|Krasnomayskiy     |Senior Quality Engineer      |$54941.78|57.6194    |34.40988  |Krasnomayskiy     |
|562|Dulci     |L'Amie    |Female|Nan’ao            |Mechanical Systems Engineer  |$95218.39|23.421724  |117.02338 |Nan’ao            |
|88 |Carole    |Gavan     |Female|Rajapeni          |Account Coordinator          |$27026.70|-7.2841    |108.2148  |Rajapeni          |
|161|Carlynn   |Freiburger|Female|Kavýli            |Programmer Analyst III       |$63792.21|41.5622714 |26.51264  |Kavýli            |
|371|Petronia  |Trowill   |Female|Banjar Yehsatang  |Health Coach II              |$28327.81|-8.3932    |114.8028  |Banjar Yehsatang  |
|418|Nils      |Perago    |Male  |Núi Sập           |Occupational Therapist       |$36160.91|10.2581682 |105.27215 |Núi Sập           |
|641|Gannon    |Heinreich |Male  |Gualmatán         |Analog Circuit Design manager|$88032.41|0.919645   |-77.56714 |Gualmatán         |
|825|Abbye     |MacAndreis|Female|Chandmanĭ         |Accounting Assistant I       |$87792.30|45.3369621 |97.96857  |Chandmanĭ         |
|835|Inness    |Double    |Male  |Kultayevo         |Biostatistician III          |$25707.71|57.8948    |55.9378   |Kultayevo         |
|319|Clementius|McGinn    |Male  |Tarauacá          |Associate Professor          |$15800.06|-8.2132323 |-71.38244 |Tarauacá          |
|494|Danni     |Bonellie  |Female|Brokopondo        |Legal Assistant              |$48210.95|4.7524091  |-55.02729 |Brokopondo        |
|950|Tremayne  |Thickett  |Male  |Nalinggou         |Software Engineer III        |$65765.49|40.99849   |111.1617  |Nalinggou         |
|63 |Antone    |Erie      |Male  |Bilohirs’k        |Help Desk Operator           |$51271.99|45.0577954 |34.605095 |Bilohirs’k        |
|139|Laetitia  |Gasking   |Female|Cuogang           |Registered Nurse             |$10908.22|32.8279425 |13.381834 |Cuogang           |
+---+----------+----------+------+------------------+-----------------------------+---------+-----------+----------+------------------+
only showing top 20 rows

In [103]:
with_column_df = no_null_df2.withColumn('clean_salary', no_null_df2.Salary.substr(2,100).cast('float'))

In [105]:
# take(1)[0][0]: take 1st element of df row, column = [0,0]
mean = with_column_df.groupBy().avg('clean_salary').take(1)[0][0]

In [106]:
mean

55516.32088199837

In [111]:
with_column_df.describe().select("summary","Salary", "clean_salary").show()

+-------+---------+------------------+
|summary|   Salary|      clean_salary|
+-------+---------+------------------+
|  count|      998|               998|
|   mean|     NULL| 55516.32088199837|
| stddev|     NULL|25863.139331851668|
|    min|$10101.92|          10101.92|
|    max|$99948.28|          99948.28|
+-------+---------+------------------+

In [116]:
from pyspark.sql.functions import lit
with_column_df2 = with_column_df.withColumn('new_salary', when(with_column_df.clean_salary.isNull(), lit(mean)).otherwise(with_column_df.clean_salary))

In [117]:
with_column_df2.show()

+---+----------+----------+------+------------------+--------------------+---------+-----------+----------+------------------+------------+----------------+
| id|first_name| last_name|gender|              City|            JobTitle|   Salary|   Latitude| Longitude|        clean_city|clean_salary|      new_salary|
+---+----------+----------+------+------------------+--------------------+---------+-----------+----------+------------------+------------+----------------+
|159|Georgianne| Henriques|Female|            Jinsha|Environmental Spe...|$63954.52|  30.679359|104.011665|            Jinsha|    63954.52|  63954.51953125|
|215|     Angel|   Robjant|  Male|   Bambous Virieux|Occupational Ther...|$96856.73|-20.3438619| 57.763683|   Bambous Virieux|    96856.73|   96856.7265625|
|377|     Noach|   Golling|  Male|          Yuanqiao| Executive Secretary|$72247.30|    32.5639| 120.39677|          Yuanqiao|     72247.3|    72247.296875|
|525|     Terry|    Layton|Female|San Pedro Masahuat|    Dental Hygienist|$10808.16| 13.5432995| -89.03824|San Pedro Masahuat|    10808.16|  10808.16015625|
|833|    Damara|   Beaford|Female|           Połomia|Environmental Spe...|$10616.44| 49.9890993| 18.569973|           Połomia|    10616.44|10616.4404296875|
|172|    Marita|   Whyborn|Female| Sofo-Birnin-Gwari|  Biostatistician II|$45680.97|   11.01088|  6.798413| Sofo-Birnin-Gwari|    45680.97|     45680.96875|
|485|    Carola| Himsworth|Female|     Krasnomayskiy|Senior Quality En...|$54941.78|    57.6194|  34.40988|     Krasnomayskiy|    54941.78|     54941.78125|
|562|     Dulci|    L'Amie|Female|            Nan’ao|Mechanical System...|$95218.39|  23.421724| 117.02338|            Nan’ao|    95218.39|    95218.390625|
| 88|    Carole|     Gavan|Female|          Rajapeni| Account Coordinator|$27026.70|    -7.2841|  108.2148|          Rajapeni|     27026.7|  27026.69921875|
|161|   Carlynn|Freiburger|Female|            Kavýli|Programmer Analys...|$63792.21| 41.5622714|  26.51264|            Kavýli|    63792.21|   63792.2109375|
|371|  Petronia|   Trowill|Female|  Banjar Yehsatang|     Health Coach II|$28327.81|    -8.3932|  114.8028|  Banjar Yehsatang|    28327.81| 28327.810546875|
|418|      Nils|    Perago|  Male|           Núi Sập|Occupational Ther...|$36160.91| 10.2581682| 105.27215|           Núi Sập|    36160.91|  36160.91015625|
|641|    Gannon| Heinreich|  Male|         Gualmatán|Analog Circuit De...|$88032.41|   0.919645| -77.56714|         Gualmatán|    88032.41|     88032.40625|
|825|     Abbye|MacAndreis|Female|         Chandmanĭ|Accounting Assist...|$87792.30| 45.3369621|  97.96857|         Chandmanĭ|     87792.3|    87792.296875|
|835|    Inness|    Double|  Male|         Kultayevo| Biostatistician III|$25707.71|    57.8948|   55.9378|         Kultayevo|    25707.71|   25707.7109375|
|319|Clementius|    McGinn|  Male|          Tarauacá| Associate Professor|$15800.06| -8.2132323| -71.38244|          Tarauacá|    15800.06|15800.0595703125|
|494|     Danni|  Bonellie|Female|        Brokopondo|     Legal Assistant|$48210.95|  4.7524091| -55.02729|        Brokopondo|    48210.95|  48210.94921875|
|950|  Tremayne|  Thickett|  Male|         Nalinggou|Software Engineer...|$65765.49|   40.99849|  111.1617|         Nalinggou|    65765.49|   65765.4921875|
| 63|    Antone|      Erie|  Male|        Bilohirs’k|  Help Desk Operator|$51271.99| 45.0577954| 34.605095|        Bilohirs’k|    51271.99|  51271.98828125|
|139|  Laetitia|   Gasking|Female|           Cuogang|    Registered Nurse|$10908.22| 32.8279425| 13.381834|           Cuogang|    10908.22|10908.2197265625|
+---+----------+----------+------+------------------+--------------------+---------+-----------+----------+------------------+------------+----------------+
only showing top 20 rows

In [118]:
latitudes = with_column_df2.select("latitude")

In [119]:
latitudes.show()

+-----------+
|   latitude|
+-----------+
|  30.679359|
|-20.3438619|
|    32.5639|
| 13.5432995|
| 49.9890993|
|   11.01088|
|    57.6194|
|  23.421724|
|    -7.2841|
| 41.5622714|
|    -8.3932|
| 10.2581682|
|   0.919645|
| 45.3369621|
|    57.8948|
| -8.2132323|
|  4.7524091|
|   40.99849|
| 45.0577954|
| 32.8279425|
+-----------+
only showing top 20 rows

In [120]:
latitudes = latitudes.filter(latitudes.latitude.isNotNull())

In [121]:
latitudes.show()

+-----------+
|   latitude|
+-----------+
|  30.679359|
|-20.3438619|
|    32.5639|
| 13.5432995|
| 49.9890993|
|   11.01088|
|    57.6194|
|  23.421724|
|    -7.2841|
| 41.5622714|
|    -8.3932|
| 10.2581682|
|   0.919645|
| 45.3369621|
|    57.8948|
| -8.2132323|
|  4.7524091|
|   40.99849|
| 45.0577954|
| 32.8279425|
+-----------+
only showing top 20 rows

In [19]:
# convert to float:
latitudes = latitudes.withColumn('latitude2', latitudes.latitude.cast('float')).select('latitude2')

In [20]:
latitudes.show()

+----------+
| latitude2|
+----------+
| 50.577408|
|  48.82316|
| 44.504723|
| 53.426613|
| 45.190517|
| 32.027935|
|  4.272793|
|     -5.85|
|  39.17238|
|  49.81518|
|  42.10148|
|  49.79233|
| 43.494576|
| 52.744167|
| 38.696247|
|-7.7232566|
| 40.717205|
|  49.16291|
| 40.757683|
|  48.49028|
+----------+
only showing top 20 rows

In [ ]:
import numpy as np
median = np.median(latitudes.collect())

In [ ]:
print(median)

31.93397331237793

In [ ]:
# replace null with median:
mydata2 = mydata2.withColumn('lat', when (mydata2.Latitude.isNull(), lit(median)).otherwise(mydata2.Latitude))

In [ ]:
mydata2.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+----------------+-----------------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|     clean_city|clean_salary|      new_salary|              lat|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+----------------+-----------------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|      Nowa Ruda|    57438.18|   57438.1796875|       50.5774075|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|         Bulgan|     62846.6|   62846.6015625|       48.8231572|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|  Divnomorskoye|    61489.23|  61489.23046875|       44.5047212|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|      Mytishchi|    63863.09|  63863.08984375|31.93397331237793|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|Kinsealy-Drinan|    30101.16|  30101.16015625|       53.4266145|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|      Trélissac|    46116.36|    46116.359375|       45.1905186|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|         Heitan|     73697.1|   73697.1015625|        32.027934|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|       Arbeláez|    68098.42|    68098.421875|         4.272793|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|       El Cardo|    13604.63|13604.6298828125|            -5.85|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|    Wangqingtuo|     73423.7|    73423.703125|        39.172378|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|      Sułkowice|    33432.99|  33432.98828125|       49.8151822|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|    Springfield|    50838.53|     50838.53125|       42.1014803|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|         Chrást|    40163.03|     40163.03125|       49.7923299|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|         Xijiao|    32492.73|  32492.73046875|       43.4945737|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|      Mieścisko|    51862.48|  51862.48046875|       52.7441662|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337| Foros do Trapo|    42135.67|    42135.671875|        38.696249|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|    Jabungsisir|    91925.08|    91925.078125|       -7.7232567|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|          Pedra|    73921.33|    73921.328125|       40.7172049|
| 21|      Alon|  Chasteau|  Male|          Xin’e|     Web Developer I|$62755.85|  49.16291|  127.98658|          Xin’e|    62755.85|   62755.8515625|         49.16291|
| 22|   Guthrey|    Johnke|  Male|         Xijiao|         Developer I|$13708.03|40.7576842| 23.1342184|         Xijiao|    13708.03|13708.0302734375|       40.7576842|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+----------------+-----------------+
only showing top 20 rows

In [ ]:
import pyspark.sql.functions as sqlfunc
genders = mydata2.groupBy('gender').agg(sqlfunc.avg('new_salary').alias('AvgSalary'))

In [ ]:
# Avg salary per gender:
genders.show()

+------+------------------+
|gender|         AvgSalary|
+------+------------------+
|Female|55677.250125558036|
|  Male| 55361.09385573019|
+------+------------------+

In [ ]:
df = mydata2.withColumn('female_salary', when(mydata2.gender=='Female', mydata2.new_salary).otherwise(lit(0)))

In [ ]:
df.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+----------------+-----------------+----------------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|     clean_city|clean_salary|      new_salary|              lat|   female_salary|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+----------------+-----------------+----------------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|      Nowa Ruda|    57438.18|   57438.1796875|       50.5774075|   57438.1796875|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|         Bulgan|     62846.6|   62846.6015625|       48.8231572|   62846.6015625|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|  Divnomorskoye|    61489.23|  61489.23046875|       44.5047212|             0.0|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|      Mytishchi|    63863.09|  63863.08984375|31.93397331237793|             0.0|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|Kinsealy-Drinan|    30101.16|  30101.16015625|       53.4266145|  30101.16015625|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|      Trélissac|    46116.36|    46116.359375|       45.1905186|             0.0|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|         Heitan|     73697.1|   73697.1015625|        32.027934|             0.0|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|       Arbeláez|    68098.42|    68098.421875|         4.272793|             0.0|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|       El Cardo|    13604.63|13604.6298828125|            -5.85|13604.6298828125|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|    Wangqingtuo|     73423.7|    73423.703125|        39.172378|    73423.703125|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|      Sułkowice|    33432.99|  33432.98828125|       49.8151822|             0.0|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|    Springfield|    50838.53|     50838.53125|       42.1014803|             0.0|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|         Chrást|    40163.03|     40163.03125|       49.7923299|             0.0|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|         Xijiao|    32492.73|  32492.73046875|       43.4945737|             0.0|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|      Mieścisko|    51862.48|  51862.48046875|       52.7441662|  51862.48046875|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337| Foros do Trapo|    42135.67|    42135.671875|        38.696249|             0.0|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|    Jabungsisir|    91925.08|    91925.078125|       -7.7232567|    91925.078125|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|          Pedra|    73921.33|    73921.328125|       40.7172049|             0.0|
| 21|      Alon|  Chasteau|  Male|          Xin’e|     Web Developer I|$62755.85|  49.16291|  127.98658|          Xin’e|    62755.85|   62755.8515625|         49.16291|             0.0|
| 22|   Guthrey|    Johnke|  Male|         Xijiao|         Developer I|$13708.03|40.7576842| 23.1342184|         Xijiao|    13708.03|13708.0302734375|       40.7576842|             0.0|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+----------------+-----------------+----------------+
only showing top 20 rows

In [ ]:
#lit = literal
df = df.withColumn('male_salary', when(df.gender=='Male', df.new_salary).otherwise(lit(0)))

In [ ]:
df.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+----------------+-----------------+----------------+----------------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|     clean_city|clean_salary|      new_salary|              lat|   female_salary|     male_salary|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+----------------+-----------------+----------------+----------------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|      Nowa Ruda|    57438.18|   57438.1796875|       50.5774075|   57438.1796875|             0.0|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|         Bulgan|     62846.6|   62846.6015625|       48.8231572|   62846.6015625|             0.0|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|  Divnomorskoye|    61489.23|  61489.23046875|       44.5047212|             0.0|  61489.23046875|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|      Mytishchi|    63863.09|  63863.08984375|31.93397331237793|             0.0|  63863.08984375|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|Kinsealy-Drinan|    30101.16|  30101.16015625|       53.4266145|  30101.16015625|             0.0|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|      Trélissac|    46116.36|    46116.359375|       45.1905186|             0.0|    46116.359375|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|         Heitan|     73697.1|   73697.1015625|        32.027934|             0.0|   73697.1015625|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|       Arbeláez|    68098.42|    68098.421875|         4.272793|             0.0|    68098.421875|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|       El Cardo|    13604.63|13604.6298828125|            -5.85|13604.6298828125|             0.0|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|    Wangqingtuo|     73423.7|    73423.703125|        39.172378|    73423.703125|             0.0|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|      Sułkowice|    33432.99|  33432.98828125|       49.8151822|             0.0|  33432.98828125|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|    Springfield|    50838.53|     50838.53125|       42.1014803|             0.0|     50838.53125|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|         Chrást|    40163.03|     40163.03125|       49.7923299|             0.0|     40163.03125|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|         Xijiao|    32492.73|  32492.73046875|       43.4945737|             0.0|  32492.73046875|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|      Mieścisko|    51862.48|  51862.48046875|       52.7441662|  51862.48046875|             0.0|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337| Foros do Trapo|    42135.67|    42135.671875|        38.696249|             0.0|    42135.671875|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|    Jabungsisir|    91925.08|    91925.078125|       -7.7232567|    91925.078125|             0.0|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|          Pedra|    73921.33|    73921.328125|       40.7172049|             0.0|    73921.328125|
| 21|      Alon|  Chasteau|  Male|          Xin’e|     Web Developer I|$62755.85|  49.16291|  127.98658|          Xin’e|    62755.85|   62755.8515625|         49.16291|             0.0|   62755.8515625|
| 22|   Guthrey|    Johnke|  Male|         Xijiao|         Developer I|$13708.03|40.7576842| 23.1342184|         Xijiao|    13708.03|13708.0302734375|       40.7576842|             0.0|13708.0302734375|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+---------------+------------+----------------+-----------------+----------------+----------------+
only showing top 20 rows

In [ ]:
# Calculate avg salary per jog title:
df = df.groupBy('JobTitle').agg(sqlfunc.avg('female_salary').alias('female_salary'),sqlfunc.avg('male_salary').alias('male_salary'))

In [ ]:
df.show()

+--------------------+------------------+------------------+
|            JobTitle|     female_salary|       male_salary|
+--------------------+------------------+------------------+
|Systems Administr...|   50590.474609375|  15540.9501953125|
|   Media Manager III|29586.436197916668|17381.920572916668|
|  Recruiting Manager|34848.452473958336|  26383.4951171875|
|       Geologist III|      31749.046875|    12830.75390625|
|        Geologist II|               0.0|   43293.865234375|
|Database Administ...|               0.0|     52018.4609375|
|   Financial Analyst|   23353.776953125|       39606.05625|
|  Analyst Programmer|  16406.1287109375|  21042.9634765625|
|Software Engineer II|               0.0|      74782.640625|
|       Accountant IV|   82732.248046875|               0.0|
|    Product Engineer|    41825.48359375|       20464.94375|
|Software Test Eng...|  32218.6083984375|   27122.462890625|
|Safety Technician...|               0.0|   29421.529296875|
|    Junior Executive|15752.220052083334|49510.330729166664|
|Systems Administr...|       77059.21875|               0.0|
|Human Resources A...|   24022.662109375| 16609.27783203125|
|        VP Marketing| 7981.178385416667|52844.534830729164|
|  Environmental Tech|13706.980143229166|      45660.890625|
|Mechanical System...|31370.781901041668|44321.593098958336|
| Assistant Professor|   22175.953515625|   26912.770703125|
+--------------------+------------------+------------------+
only showing top 20 rows

In [ ]:
# difference between gender salary:
df = df.withColumn('delta', df.female_salary - df.male_salary).show()

+--------------------+------------------+------------------+-------------------+
|            JobTitle|     female_salary|       male_salary|              delta|
+--------------------+------------------+------------------+-------------------+
|Systems Administr...|   50590.474609375|  15540.9501953125|   35049.5244140625|
|   Media Manager III|29586.436197916668|17381.920572916668|       12204.515625|
|  Recruiting Manager|34848.452473958336|  26383.4951171875|  8464.957356770836|
|       Geologist III|      31749.046875|    12830.75390625|     18918.29296875|
|        Geologist II|               0.0|   43293.865234375|   -43293.865234375|
|Database Administ...|               0.0|     52018.4609375|     -52018.4609375|
|   Financial Analyst|   23353.776953125|       39606.05625|   -16252.279296875|
|  Analyst Programmer|  16406.1287109375|  21042.9634765625| -4636.834765625001|
|Software Engineer II|               0.0|      74782.640625|      -74782.640625|
|       Accountant IV|   82732.248046875|               0.0|    82732.248046875|
|    Product Engineer|    41825.48359375|       20464.94375| 21360.539843750004|
|Software Test Eng...|  32218.6083984375|   27122.462890625|    5096.1455078125|
|Safety Technician...|               0.0|   29421.529296875|   -29421.529296875|
|    Junior Executive|15752.220052083334|49510.330729166664| -33758.11067708333|
|Systems Administr...|       77059.21875|               0.0|        77059.21875|
|Human Resources A...|   24022.662109375| 16609.27783203125|   7413.38427734375|
|        VP Marketing| 7981.178385416667|52844.534830729164|  -44863.3564453125|
|  Environmental Tech|13706.980143229166|      45660.890625|-31953.910481770836|
|Mechanical System...|31370.781901041668|44321.593098958336|-12950.811197916668|
| Assistant Professor|   22175.953515625|   26912.770703125| -4736.817187500001|
+--------------------+------------------+------------------+-------------------+
only showing top 20 rows

In [ ]:
cityavg = mydata2.groupBy('City').agg(sqlfunc.avg('new_salary').alias('avgsalary'))

In [ ]:
cityavg = cityavg.sort(col('avgsalary').desc())

In [ ]:
# Top cities with higher avg salary:
cityavg.show()

+-----------------+-------------+
|             City|    avgsalary|
+-----------------+-------------+
|        Mesopotam|  99948.28125|
|       Zhongcheng| 99942.921875|
|           Caxias|99786.3984375|
|      Karangtawar|99638.9921875|
|        Itabaiana|  99502.15625|
|           Pasian|  99421.34375|
|           Webuye| 99368.546875|
|      Yuktae-dong| 99250.828125|
|           Zinder|  99222.84375|
|   Timiryazevskiy|   99142.9375|
|        Sawahbaru|99013.7109375|
|          Madimba|98737.8671875|
|         Huangshi|  98690.34375|
|          Gharyan|   98679.3125|
|         Yŏnan-ŭp| 98628.609375|
|     Wringinputih|98603.8203125|
|Monte da Boavista|  98586.71875|
|          Klukeng|98439.4921875|
|         Murmashi|  98226.15625|
|        Fox Creek|      98138.0|
+-----------------+-------------+
only showing top 20 rows